.trigger {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.options {
  position: absolute;
  z-index: 10000;
  background: var(--listbox-bg);
  box-shadow: 4px 4px 8px var(--listbox-bg);
  border-radius: 12px;
}

.item {
  padding: 10px 20px;
}
